<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://my.opera.com/richtr/weibo_extension"
        version="0.1">
    <name short="Sina Weibo FTW" xml:lang="en">Sina Weibo For The World: A Social Web Experiment</name>
    <description xml:lang="en">
    A social web experiment to connect disparate global voices to start inclusive global 
    conversations, this extension adds a number of features to weibo.com to enable 
    non-native Chinese speakers to interact with the Chinese people.
    </description>
    <author href="http://richt.me">
    Rich Tibbett
    </author>
    <license href="http://www.opensource.org/licenses/mit-license.php">
    Licensed under the MIT license
    </license>
    <icon src="icons/logo128.png" width="128" height="128"/>
    <icon src="icons/logo64.png" width="64" height="64"/>
    <content src="background.html" type="text/html" encoding="utf-8"/>
</widget>